<html>
<head>
    <meta charset="utf-8">
    <title>Nelisa's Spaza App</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.css" >
    <style media="screen">
    body {
        background: #cacaca;
        margin: 0;
        padding: 20px;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-weight: 300;
    }
    </style>
    <!-- <h1>Nelisa's Spaza Shop</h1> -->
</head>
<body>

      {{{body}}}


    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.min.js"></script>
</body>
</html>
