<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Nelisa's Spaza App</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
    <h1>Nelisa's Spaza Shop</h1>
</head>
<body>


    {{{body}}}

</body>
</html>
