<html lang="en">

<head>
    <title>NELISA SPAZA APP</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="/css/style.css" rel="stylesheet">

</head>

<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="img/spaza.jpg"></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    {{#if user}}
                        <li class="nav-item"><a href="/categories">Categories</a></li>
                        <li class="nav-item"><a href="/products">Products</a></li>
                        {{#if admin}}
                            <li class="nav-item"><a href="/purchases">Purchases</a></li>
                            <li class="nav-item"><a href="/sales">Sales</a></li>
                            <li class="nav-item"><a href="/suppliers">Suppliers</a></li>
                            <li class="nav-item btn-group">
                                <a class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">WeeklySalesStats</a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <a class="dropdown-item" href="weeklySalesStats/week1">Week1</a>
                                    <a class="dropdown-item" href="weeklySalesStats/week2">Week2</a>
                                    <a class="dropdown-item" href="weeklySalesStats/week3">Week3</a>
                                    <a class="dropdown-item" href="weeklySalesStats/week4">Week4</a>
                                </div>
                            </li>
                        {{/if}}
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    {{#if admin}}
                        <li class="nav-item"><a href="/users">Manage Users</a></li>
                        {{/if}}
                        <li class="nav-item"><a href="/logout">Logout</a></li>
                    {{else}}
                    <li class="nav-item"><a href="/signup">Sign up</a></li>
                    <li class="nav-item"><a href="/login">Login</a></li>
                    {{/if}}

                </ul>

            </div>
        </div>
    </nav>
    <br>

    <div role="main" class="container-fluid text-center">
        {{{body}}}
    </div>

    <footer class="container-fluid text-center">
        <h4>NELISA SPAZA SHOP</h4>
    </footer>

</body>

</html>
