<html>

<head>
    <meta charset="utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>Nelisa's Spaza App</title>
    <!-- <link rel="stylesheet" href="/css/style.css"> -->
    <!-- <link rel="stylesheet" href="/css/bootstrap.css"> -->
</head>

<body>

    <li><a href="/">home</a></li>
    <li><a href="/weeklySalesStats/week1">Week1</a></li>
    <li><a href="/weeklySalesStats/week2">Week2</a></li>
    <li><a href="/weeklySalesStats/week3">Week3</a></li>
    <li><a href="/weeklySalesStats/week4">Week4</a></li>
    <li><a href="/categories">Categories</a></li>
    <li><a href="/products">Products</a></li>
    <li><a href="/purchases">Purchases</a></li>
    <li><a href="sales">Sales</a></li>
    <li><a href="suppliers">Suppliers</a></li>
    <div class="container-fluid">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <div role="main">
                {{{body}}}
            </div>
        </div>
    </div>

    <!-- <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.min.js"></script> -->
</body>

</html>
