<h1>Add sales</h1>

<form action="/sales/add" method="POST">
	<div class="">
		<label for="">Sales</label>

		<select class="" name="category_id">
			{{#products}}
				<option value="{{id}}">{{products}}</option>
			{{/products}}
		</select>
	</div>

	<div>
		<label for="">Product</label>
		<input type="text" name="sales" value="{{sales}}">
	</div>
	<input type="submit">
</form>
