<h1>Categories</h1>
<h3><a href="/categories/add">Add</a></h3>
<div class="table-responsive">
    <table class="table table-bordered myTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Category</th>
            </tr>
        </thead>
        {{#categories}}
            <tbody>
                <tr>
                    <td>{{id}}</td>
                    <td>{{categoryName}}</td>
                    <td><a href="/categories/edit/{{id}}">Edit</a></td>
                    <td><a href="/categories/delete/{{id}}">Delete</a></td>
                </tr>
            </tbody>
        {{/categories}}
    </table>
</div>
