<h1>Categories</h1>
{{#admin}}
<h3><a href="/categories/add">Add a new category</a></h3>
{{/admin}}
<form>
  <input class="searchBar" type="text" name="search" placeholder="Search..">
</form>
<table class="table">
    <tr>
        <th>Category</th>
        {{#admin}}
        <th>Edit item</th>
        <th>Delete item</th>
        {{/admin}}
    </tr>
    {{#categories}}
        <tr>
            <td data-th="Category">{{categoryName}}</td>
            {{#if../admin}}
            <td data-th="Edit item"><a href="/categories/edit/{{id}}">Edit</a></td>
            <td data-th="Edit delete"><a href="/categories/delete/{{id}}">Delete</a></td>
            {{/if}}
        </tr>
    {{/categories}}
</table>
