<h1>Categories</h1>
{{#if user.is_admin}}
<h3><a href="/categories/add">Add a new category</a></h3>
{{/if}}
<div id="table">
    <div class="header-row row">
        <span class="cell">Category</span>
        <span class="cell"></span>
        <span class="cell"></span>
    </div>
    {{#categories}}
        <div class="row">
            <span class="cell">{{categoryName}}</span>
            <span class="cell"><a href="/categories/edit/{{id}}">Edit</a></span>
            <span class="cell"><a href="/categories/delete/{{id}}">Delete</a></span>
        </div>
    {{/categories}}

</div>
