<h1>Categories</h1>
<h3><a href="/categories/add">Add a new category</a></h3>
<table class="table">
    <tr>
        <th>Category</th>
        <th>Edit item</th>
        <th>Delete item</th>
    </tr>
    {{#categories}}
        <tr>
            <td data-th="Category">{{categoryName}}</td>
            <td data-th="Edit item"><a href="/categories/edit/{{id}}">Edit</a></td>
            <td data-th="Edit delete"><a href="/categories/delete/{{id}}">Delete</a></td>
        </tr>
    {{/categories}}
</table>
