<h1>Categories</h1>
<h3><a href="/categories/add">Add a new category</a></h3>
<a href="/categories">Back</a>
<table class="categoryTable">
  <thead>
    <tr>
        <th>Category</th>
        <th>Edit item</th>
        <th>Delete item</th>
    </tr>
  </thead>
  <tbody>
    {{#categories}}
        <tr>
            <td data-label="Category">{{categoryName}}</td>
            <td data-label="Edit item"><a href="/categories/edit/{{id}}">Edit</a></td>
            <td data-label="Edit delete"><a href="/categories/delete/{{id}}">Delete</a></td>
        </tr>
    {{/categories}}
  </tbody>
</table>
