<h1>Categories</h1>
{{#admin}}
<h3><a href="/categories/add">Add a new category</a></h3>
{{/admin}}
<form action="/categories/search" method="post">
    <input type="text" name="value"/>
    <input type="submit" value="search"/>
</form>
<table>
  <thead>
    <tr>
        <th>Category</th>
        {{#admin}}
        <th>Edit item</th>
        <th>Delete item</th>
        {{/admin}}
    </tr>
  </thead>
  <tbody>
    {{#categories}}
        <tr>
            <td data-label="Category">{{categoryName}}</td>
            {{#if../admin}}
            <td data-label="Edit item"><a href="/categories/edit/{{id}}">Edit</a></td>
            <td data-label="Edit delete"><a href="/categories/delete/{{id}}">Delete</a></td>
            {{/if}}
        </tr>
    {{/categories}}
  </tbody>
</table>
