<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Home</title>
    <!-- <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.css" > -->
</head>

<body>
  <header id="header">
      <div class="container">
        <h1 class="navbar-brand navbar-brand_"><img alt="Grill point" src="/images/gospaces-logo.png"></a></h1>
      </div>
      <div class="menuheader">
          <div class="container">
            <nav class="navbar navbar-default navbar-static-top tm_navbar" role="navigation">
                <ul class="nav sf-menu">
                  <li class="active"><a href="index.html">home</a>
                    <ul>
                      <li><img src="img/arrowup.png" alt=""><a href="#">info</a></li>
                      <li><a href="#">profile</a></li>
                      <li><a class="last" href="#">news</a>
                        <ul>
                           <li><a href="#">fresh</a></li>
                           <li><a class="last" href="#">archive</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li><a href="index-1.html">about me</a></li>
                  <li><a href="index-2.html">gallery</a></li>
                  <li><a href="index-3.html">links</a></li>
                  <li><a href="index-4.html">location</a></li>
                </ul>
            </nav>
          </div>
      </div>
</header>
<!--==============================content=================================-->
<div id="content">
    <!--==============================row1=================================-->
    <div class="row_1">
        <div class="container">
            <p class="title1">Welcome to Nelisa Spaza App</p>
            <p class="title2">Nelisa spaza shop is located at Khayelitsha</p>
        </div>
    </div>
</div>
<!-- <header id="header">
  <div class="container">
    <h1 class="navbar-brand navbar-brand_"><img alt="Grill point" src=""></a></h1>
        <div class="menuheader">
            <div class="container">
                <nav class="navbar navbar-default navbar-static-top tm_navbar" role="navigation">
                    <ul class="nav sf-menu">
                        <li><a href="">home</a></li>
                        <li class="active"><a href="views/index.handlebars">Sales</a>
                            <ul>
                                <li><a href="sales/week1">Week 1</a></li>
                                <li><a href="sales/week2">Week 2</a></li>
                                <li><a href="sales/week3">Week 3</a></li>
                                <li><a href="sales/week4">Week 4</a></li>
                              </ul>
                        </li>
                        <li><a href="http://narrative.projectcodex.co/Profile_Nelisa.html">About Nelisa</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

</body>

</html>
