<div class="picture">

{{#if user}}
  <h1>Welcome, {{user.name}} to Nelisa Spaza Shop</h1>
{{/if}}

{{#if user.is_admin}}
<h3>Welcome Admin</h3>
{{/if}}

<img alt="Grill point" src="img/spaza-1.jpg">
<h3>Nelisa spaza shop is located at Khayelitsha</h3>

</div>
