<!-- Header -->
<a name="about"></a>
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                  {{#if user}}
                    <h1>Welcome {{user}}, to Nelisa Spaza Shop</h1>
                  {{/if}}
                  {{#if admin}}
                    <h2>Hello Admin</h2>
                  {{/if}}
                  {{#if messages.errorMsg}}
                      <h3>{{messages.errorMsg}}</h3>
                  {{/if}}
                    <hr class="intro-divider">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">About</h2>
                <p class="lead">Nelisa runs a spaza shop in Khayelitsha.The app that help Nelisa to improve her purchasing, so that she can purchase products in bulk and reduce their prices and have the right product in stock to keep the customer happy</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="img/ProfileNelisa.png" alt="">
            </div>
        </div>
    </div>
</div>

<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Tools used</h2>
                <p class="lead">This app was built using NodeJS with ExpressJS, with Handlebars for templating, and a MySQL database. Authentication & Authorization - role support.
                  It was deployed to a DigitalOcean server using pm2 as a process manager.</p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="img/code.jpg" alt="">
            </div>
        </div>
    </div>
</div>

<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Developed</h2>
                <p class="lead">By Ntombi Masango</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="img/me.jpg" alt="">
            </div>
        </div>
    </div>
</div>

<!-- <div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2>Connect to Start Bootstrap:</h2>
            </div>
            <div class="col-lg-6"> -->
                <!-- <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>
                        <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li>
                        <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                    </li>
                </ul> -->
            <!-- </div>
        </div>
    </div>
</div> -->
