<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Home</title>
      <!-- <link rel="stylesheet" href="/css/style.css"> -->
</head>

<body>
  
<!--==============================content=================================-->
<div id="content">
    <!--==============================row1=================================-->
    <div class="row_1">
        <div class="container">
            <p class="title1">Welcome to Nelisa Spaza App</p>
            <p class="title2">Nelisa spaza shop is located at Khayelitsha</p>
        </div>
    </div>
</div>
</body>

</html>
