<style media="screen">
    body {
        text-align: center;
        background-image: url('spaza-1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
    ul {
        list-style-type: square;
        padding: 2em;
        border: 1em;
    }
    li {
        padding: 1em;
        border: 1em;
        background-color: rgba(134, 567, 457, 0.9);
    }
    h1 {
      color: red;
    }
</style>
</head>

<body>

<ul>
    <li><a href="sales/week1">Week 1</a></li>
    <li><a href="sales/week2">Week 2</a></li>
    <li><a href="sales/week3">Week 3</a></li>
    <li><a href="sales/week4">Week 4</a></li>
</ul>

</body>
