<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Nelisa</title>
    <style media="screen">
        body {
            text-align: center;
            background-image: url('spaza-1.jpg');
            background-size: cover;
            background-repeat: no-repeat;
        }
        ul {
            list-style-type: square;
            padding: 2em;
            border: 1em;
        }
        li {
            padding: 1em;
            border: 1em;
            background-color: rgba(134, 567, 457, 0.9);
        }
        h1 {
          color: red;
        }
    </style>
</head>

<body>
    <h1>Nelisa’s Spaza Shop</h1>
    <ul>
        <li><a href="week1.html">Week 1</a></li>
        <li><a href="week2.html">Week 2</a></li>
        <li><a href="week3.html">Week 3</a></li>
        <li><a href="week4.html">Week 4</a></li>
    </ul>
    <script src="jquery.min.js" charset="utf-8"></script>
    <script src="handlebars-v4.0.5.js" charset="utf-8"></script>
    <script src="../app.js" charset="utf-8"></script>
</body>

</html>
