<h1>Products</h1>
<h3><a href="/products/add">Add a new products</a></h3>
<div id="table">
    <div class="header-row row">
        <span class="cell">Product</span>
        <span class="cell">Category</span>
        <span class="cell"></span>
        <span class="cell"></span>
    </div>
    {{#products}}
        <div class="row">
            <span class="cell">{{product}}</span>
            <span class="cell">{{categoryName}}</span>
            <span class="cell"><a href="/products/edit/{{product_id}}">Edit</a></span>
            <span class="cell"><a href="/products/delete/{{product_id}}">Delete</a></span>
        </div>
    {{/products}}

</div>
