<h1>Products</h1>
<div class="table-responsive">
    <table class="table table-bordered myTable">
        {{#products}}
            <tbody>
                <tr>
                    <td>{{id}}</td>
                    <td>{{product}}</td>
                    <td>{{category_id}}</td>
                </tr>
            </tbody>
            {{/products}}
    </table>
</div>
