
<h1>Products</h1>
<table class="table">
    <tr>
        <th>Product</th>
        <th>Category</th>
        {{#admin}}
        <th>Edit item</th>
        <th>Delete item</th>
        {{/admin}}
    </tr>
    {{#product}}
        <tr>
            <td data-th="Product">{{product}}</td>
            <td data-th="Category">{{categoryName}}</td>
             {{#if../admin}}
            <td data-th="Edit item"><a href="/products/edit/{{product_id}}">Edit</a></td>
            <td data-th="Delete item"><a href="/products/delete/{{product_id}}">Delete</a></td>
            {{/if}}
        </tr>
    {{/product}}
</table>
