<h1>Suppliers</h1>
<div class="table-responsive">
    <table class="table table-bordered myTable">
        {{#suppliers}}
            <tbody>
                <tr>
                    <td>{{id}}</td>
                    <td>{{shop}}</td>
                </tr>
            </tbody>
            {{/suppliers}}
    </table>
</div>
