<h1>Suppliers</h1>

<form action="/suppliers/search" method="post">
    <input type="text" name="value"/>
    <input type="submit" value="search"/>
</form>

<table>
  <thead>
    <tr>
      <th>Shops</th>
    </tr>
  </thead>
  <tbody>
    {{#suppliers}}
    <tr>
      <td data-label="Shop">{{shop}}</td>
    </tr>
    {{/suppliers}}
  </tbody>
</table>
