<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h1 class="section-heading">Suppliers</h1>
                <!-- <form>
                    <input class="search" type="text" name="value" placeholder="search"/>
                </form> -->
        </div>
    </div>
</div>
<table>
  <thead class="header-row">
    <tr>
      <th>Shops</th>
    </tr>
  </thead>
  <tbody>
    {{#suppliers}}
    <tr>
      <td data-label="Shop">{{shop}}</td>
    </tr>
    {{/suppliers}}
  </tbody>
</table>
