<h1>Suppliers</h1>
<table class="table">
    <tr>
        <th>Shop</th>
    </tr>
    {{#suppliers}}
        <tr>
            <td data-th="Shop">{{shop}}</td>
        </tr>
    {{/suppliers}}
</table>
