<h1>Suppliers</h1>
<form action="/suppliers/search" method="post">
    <input type="text" name="value"/>
    <input type="submit" value="search"/>
</form>
<table class="table">
    <tr>
        <th>Shop</th>
    </tr>
    {{#suppliers}}
        <tr>
            <td data-th="Shop">{{shop}}</td>
        </tr>
    {{/suppliers}}
</table>
