<h1>Suppliers</h1>
<a href="/sales">Back</a>
<table>
  <thead>
    <tr>
      <th>Shops</th>
    </tr>
  </thead>
  <tbody>
    {{#suppliers}}
    <tr>
      <td data-label="Shop">{{shop}}</td>
    </tr>
    {{/suppliers}}
  </tbody>
</table>
