<h1>Suppliers</h1>

<div id="table">
    <div class="header-row row">
        <span class="cell">Shop</span>
    </div>
    {{#suppliers}}
        <div class="row">
            <span class="cell">{{shop}}</span>
        </div>
    {{/suppliers}}
</div>
